@model User_Registration_CRUD_Operations_Without_Entity_Framework.Models.UserRegistrationModel

@{
    ViewBag.Title = "Details";

}

<h2>detail</h2>


<div>

    <h4> UserRegistrationModel
        <hr/>
        <dl class="dl-horizontal">
            <!-- follow warning messages also view name should start with Capital letter-->
            <dt>
                @Html.DisplayNameFor(model = model.EmailId)
            </dt>
            <dd>
                @Html.DisplayFor(model = model.EmailId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model = model.PasswordOfUser)
            </dt>
            <dd>
                @Html.DisplayFor(model = model.PasswordOfUser)
            </dd>
             <dt>
                @Html.DisplayNameFor(model = model.ConfirmPasswordOfUser)
            </dt>
            <dd>
                @Html.DisplayFor(model = model.ConfirmPasswordOfUser)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model = model.NameOfUser)
            </dt>
            <dd>
                @Html.DisplayFor(model = model.nameOfUser )
            </dd>
        </dl>


    </h4>
</div>
